/**
 * @name DiscordRecolor
 * @description Allows you to customize Discord's native Color Scheme
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.theme.css
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--font:						"Work Sans", "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;		/*	General Font			*/
	--settingsicons:			0;						/*	Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no			*/
	
	--accentcolor: 				104, 103, 172;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#6867AC		*/
	--accentcolor2: 			255, 153, 226;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#FF99E2		*/
	--linkcolor: 				255, 153, 226;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#FF99E2		*/
	--mentioncolor: 			104, 103, 172;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#6867AC		*/
	--successcolor: 			98, 191, 137;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#62BF89		*/
	--warningcolor: 			208, 135, 112;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#D08770		*/
	--dangercolor:  			191, 97, 106;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#BF616A		*/
	
	--textbrightest: 			230, 249, 255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#E6F9FF		*/
	--textbrighter: 			202, 219, 224;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#CADBE0		*/
	--textbright: 				172, 188, 191;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#ACBCBF		*/
	--textdark: 				172, 188, 191;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#ACBCBF		*/
	--textdarker: 				95, 108, 133;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#5f6c85		*/
	--textdarkest: 				95, 108, 133;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#5f6c85		*/
	
	--backgroundaccent: 		76, 86, 106;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#4C566A		*/
	--backgroundprimary: 		46, 52, 64;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#2E3440		*/
	--backgroundsecondary: 		59, 66, 82;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#3B4252		*/
	--backgroundsecondaryalt: 	67, 76, 94;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#434C5E		*/
	--backgroundtertiary: 		46, 52, 64;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#4C566A		*/
	--backgroundfloating: 		76, 86, 106;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#4C566A		*/
}
